#parent {
  height: auto;
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
}

#heading {
  color: rgb(2, 0, 0);
  margin-left: 2%;
}

#download {
  float: right;
  margin-bottom: auto;
  margin-right: 3%;
  background-color: #ddd;
  border: none;
  border-radius: 3px;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 15px;
}
#download:hover {
  background-color: #f1f1f1;
}

#all {
  display: flex;
  flex-wrap: nowrap;
  width: 95%;
  margin-left: 2%;
  margin-bottom: 2%;
  justify-content: space-between;
}

.statsdiv {
  display: block;
  background-color: #f1f1f1;
  width: 25%;
  text-align: center;
  line-height: 20px;
  font-size: 30px;
}

#list {
  display: block;
  width: 95%;
}

#listheading {
  color: black;
  margin-bottom: -2%;
  margin-left: 2%;
}

#search {
  float: right;
  margin-bottom: 15px;
  margin-right: -2%;
  border-radius: 3px;
  padding: 5px;
  height: auto;
  width: auto;
}

#listtable {
  width: 100%;
  margin-left: 2%;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#modal {
  height: auto;
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  transform: "translate(-50%, -50%)";
}
#modaltable {
  border: 1px solid #dddddd;
  border-collapse: collapse;
  padding: 8px;
}
#modaltable > tr:nth-child(even) {
  background-color: #dddddd;
}

#order {
  display: flex;
  flex-direction: inherit;
  width: 100%;
  margin-left: 2%;
  border-collapse: collapse;
}

#orderId {
  margin-left: 2%;
  color: black;
}

#ordertable {
  width: 50%;
  border-collapse: collapse;
}

#piechart {
  display: flex;
  flex-direction: row;
  float: right;
  margin-bottom: auto;
}
